/* Секція "Швидка навігація" */
.quick-navigation-section {
    background: linear-gradient(to bottom, #ffffff, #f1f1f1);
    border-radius: 10px;
    margin: 50px auto;
    max-width: 1200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.btn-nav {
    background: linear-gradient(to right, #d93025, #808080);
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(217, 48, 37, 0.4);
    transition: all 0.3s ease;
}

    .btn-nav:hover {
        background: linear-gradient(to right, #808080, #d93025);
        transform: translateY(-3px);
    }

/* Секція "Про нас" */
.about-us, .why-us {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 900px;
    padding: 20px;
}

.about-text {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.8;
    color: #555;
}
