.album-description {
    background-color: #FFE4E1; /* Пастельний рожевий */
    padding: 100px; /* Додатковий простір всередині елемента */
    border-radius: 1px; /* Заокруглені краї (за бажанням) */
}

.homepage-special-offers {
    position: relative; /* Для розташування псевдоелемента */
}

    .homepage-special-offers::after {
        content: ""; /* Порожній контент для псевдоелемента */
        display: block; /* Лінія буде відображатися */
        width: 100%; /* Лінія на всю ширину сторінки */
        height: 1px; /* Тонка лінія */
        background-color: #ccc; /* Світло-сірий колір */
        margin-top: 10px; /* Відступ від тексту до лінії */
        opacity: 0.7; /* Прозорість для меншої помітності */
        position: absolute; /* Лінія буде відносно контейнера */
        left: 0; /* Вирівнювання по лівому краю */
        bottom: 0; /* Розташування внизу контейнера */
    }

.card-img-top {
    width: 100%; /* Зображення розтягується на ширину контейнера */
    height: 270px; /* Зберігає пропорції */
    object-fit: cover; /* Адаптує зображення до контейнера без спотворень */
    max-width: 100%; /* Запобігає виходу за межі контейнера */
}
